/* make.css */

.test {
    color: red;
}

.wrap {
    color: red;
}

.create {
    visibility: visible!important;
}

.remove {
    visibility: hidden!important;
}

.mask {
    /* visibility: hidden;  */
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}